* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #111;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar li {
    margin: 15px 0;
}

/* Main Area */
.main {
    flex: 1;
    padding: 30px;
    background: #f4f4f4;
}

/* Task Input */
.task-input {
    margin: 20px 0;
}

.task-input input {
    padding: 8px;
    width: 250px;
}

.task-input button {
    padding: 8px 12px;
}

/* Tasks */
#taskList li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}